{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
  </head>
  <body>
    
    <div class="container">
        <h2 class='alert alert-danger text-center'>Candidate Detail</h2>

        <div class="row">
            <div class="col-sm-10 shadow p-5 offset-sm-1">
                <h3 class='text-center'><u>Resume</u></h3>
                <p class=''>Application No : {{data.id}}</p>
                <img src="{{data.profile_image.url}}" alt="" class='img-fluid img-thumbnail float-end' width='200' height='250'>
                <p>Name: {{data.name}}</p>
                <p>Date of Birth: {{data.dob}}</p>
                <p>Gender: {{data.gender}}</p>
                <p>Address: {{data.locality}} {{data.city}} {{data.state}} - {{data.pin}}</p>
                <p>Mobile No: {{data.mobile}}</p>
                <p>Email ID: {{data.email}}</p>
                <p>Preferred Job Cities: {{data.job_city|remove_special:"[]'" }}</p>
                <p>Attachment: <a href="{{data.my_file.url}}">Download File</a></p>
                <a href="/" class='btn btn-info text-center'>Back</a>
            </div>
        </div>
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>